body {
  margin: 50px;
  background-color: rgba(255, 255, 128, .5);
  background-image: url(Speech.png);
  background-repeat: no-repeat;
  /* text-align: center; */
}

h1 {
  font-family: Arial;
}

#item {
  margin: 50px;
}

table {
  margin: 50px;
  font: bold;
  font-size: x-large;
  font-family: Arial;
}